.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh !important;
    width: 100%;
    text-align: center;
    color: white;
}

.name {
    font-size: 64px;
    word-wrap: wrap;
    padding-bottom: 1rem;
}

.title {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}

.links {
    padding-top: 5rem;
}

.splash-link {
    color: white;
    font-size: 32px;
    padding: 0.75rem 1.25rem;
    border: 1px solid white;
}

.splash-link:hover {
    background-color: white;
    color: var(--bg-color);
}

.link-github {
    background-color: var(--bg-color);
    border-left: none;
    border-right: none;
}

.link-linkedin {
    background-color: #0073b1;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.link-linkedin:hover {
    color: #0073b1 !important;
}

.link-mail {
    background-color: #eb4034;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.link-mail:hover {
    color: #eb4034 !important;
}

.link-hover-label {
    font-size: 16px;
    height: 16px;
    padding-top: 1rem;
}

@media (max-width: 991px) {
    .name {
        font-size: 44px;
        margin-bottom: 10px;
    }

    .title {
        font-size: 14px;
        gap: 0.5rem;
        padding: 0 0.5rem;
    }

    .link-hover-label {
        display: none;
    }
}