:root {
    --bg-color: #121212;
    --accent-color: #1e1e1e;
    --muted-color: #808080;

    --color-linkedin: #0073b1;
    --color-mail: #eb4034;
    --color-versify: #10B981;

    --font-family: "Space Mono", monospace;
    --transition: 0.2s ease;
}

html {
    scroll-behavior: smooth;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    font-weight: 300;
    background-color: var(--bg-color);
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
}